{% extends 'base.html' %}

{% block content %}
<div style="width:80%; margin:0 auto;">
<h1>{{todo.title}}</h1>
<h3>{{todo.text}}</h3>
<h3>所要時間{{todo.time}}分</h3>
<script>
  $(function(){
    var time = {{todo.time}}*60;
    var setI;
    var min;
    var sec;
   

    function startTimer() {
      time -= 1;
      min = Math.floor( time / 60 );
      sec = time % 60;
      min = ('00' + min).slice(-2);
      sec = ('00' + sec).slice(-2);
      $('#timer').html(min + ":" + sec);
      if (time === 0) {
        $('#timer').html("Time&nbspUP!");
        clearInterval(setI);

      }
    }
    $('#start').on("click",function(){
      $('#start').prop('disabled',true);
      startInterval();
    });
    $('#stop').on("click",function stopTimer() {
      clearInterval(setI);
      $('#start').prop('disabled',false);
    });
    $('#reset').on("click",function resetTimer() {
      clearInterval(setI);
      time = {{todo.time}}*60;
      $('#start').prop('disabled',false);
      $('#timer').html(min + ":" + sec);
      
    });
        

    function startInterval() {
      setI = setInterval(startTimer,1000);
    }
    
  });
  </script>
  <div id = "box">
  <p id ="timer">{{todo.time}}:00</p>
  <form>
  <input type ="button" id ="start" name ="start" value ="スタート">
  <input type ="button" id ="stop"  name ="stop" value ="ストップ" >
  <input type ="button" id ="reset" name ="reset" value ="リセット">
  </form>
  </div>
  <a href="javascript:history.back();"><<戻る</a>
</div>
{% endblock %}